<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

	<h1>My Grid</h1>
	

	<form id="addTask" action="">
		<input type="text" name="task" placeholder="Your new task">
		<input type="text" name="priority" placeholder="priority">
		<button id="sort">Sort</button>
		<input type="submit" value="Add Task">
	</form>

	<div class="tasks">
		<script id="taskTemplate" type="text/template">
			<span><%= title %></span> <button class="edit">Edit</button> <button class="delete">Delete</button><input  type=text class="priority" value=<%= priority %> />
		</script>
	</div>

<script src="js/underscore.js"></script>
<script src="js/jquery.js"></script>
<script src="js/backbone.js"></script>
<script src="js/main.js"></script>

</body>
</html>

